@import url(post-card.css);
@import url(design-system.css);
@import url(thank-you.css);

/* style */
body {
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    background: #ebebeb;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px auto 200px 150px;
    grid-template-areas:
    "hd"
    "main"
    "nav"
    "ft";
    justify-content: center;
}

/* header */
header {
    grid-area: hd;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.title {
    text-transform: uppercase;
}

/* post card */
.post-card {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0.5rem;
    background: #f6f6f6;
    box-shadow: 1px 1px 6px black;
}

.image {
    width: 100%;
    object-fit: cover;
}

.text {
    padding: 1rem;
}

.date {
    text-transform: lowercase;
    font-size: 0.7rem;
}

/* navigation */
nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.fa:hover {
    opacity: 0.5;
}

/* button */
.button {
    padding: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid black;
    border-radius: 5%;
}

.button:hover {
    background-color: #ebebeb;
}

/* link */
.link {
    text-transform: uppercase;
    font-size: 2rem;
}

.link:hover {
    text-decoration: underline;
}

/* social sharing */
.social {
    font-size: 2rem;
}

/* footer */
footer {
    grid-area: ft;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    background-color: #303030;
    color: #ebebeb;
    }

.design-link {
    color: white;
    text-transform: uppercase;
}

.design-link:hover {
    text-decoration: underline;
}

/* responsive layout */
@media(min-width: 801px) {

    .post-card {
        margin: 3rem;
    }

    #blog {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas:
        "post1 post2"
        "post3 post4";
    }

    #post1 {
        grid-area: post1;
    }

    #post2 {
        grid-area: post2;
    }

    #post3 {
        grid-area: post3;
    }

    #post4 {
        grid-area: post4;
    }

}