.thank-you-container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 70vh 25vh 5vh;
    grid-template-areas:
    "main"
    "nav"
    "ft";
}

#message {
    display: flex;
    justify-content: center;
    align-items: center;
}